#content #articles {
	display: block;
	width: 475px;
	margin:50px auto;
}
#content #articles a {
	font-size: 24px;
}

#content #article {
	display: block;
	width: 475px;
	margin:50px auto;
}
#content #article p:last-child{
	margin-top: 20px;
}

#content #comment {
	display: block;
	width: 475px;
	margin:50px auto;
	padding-left: 150px;
}

#content h4,form {
	display: block;
	width: 475px;
	margin:0 auto;
	padding-left: 100px;
}