#wrap {
	display: block;
	width: 100%;
}

#head {
	display: block;
	width: 475px;
	height: 35px;
	margin: 0 auto;
	background-color: #eee;
}
#head ul li{
	display: inline-block;
	vertical-align: middle;
}
#head ul li a{
	padding: 15px 30px;
	color: #000;
}
#head ul li a:hover{
	background-color: #669999;
	color: #fff;
}